/* custom scrollbars */

@font-face{
    font-family: mono;
    src: url(font/SourceCodePro-Medium.otf);
}

::-webkit-scrollbar {
    display: block;
}



body{
  height : 100vh;
  display : flex;
  /* justify-content: center;
  align-items: center; */
  padding : 0;
  margin : 0;
  font-family : mono;
  hyphens: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #000;
  color : #252120;
}
text {
  fill : white
}

button{
    font-family: mono;
}
button.selected{
  background-color: #3CB371;
}

button#curious{
  background-color: #BD8C7D;
}
button#perfectionist{
  background-color: #D1BFA7;
}
button#geniesser{
  background-color: #8E8E90
}

button#capitalist{
 background-color: #49494B;
}
/*****************************FOR THE SIDE PANNEL ***********************/
#pannel {
  width : 15%;
  /* display : none; */
  background-color: 	#333333;
  fill : white;
  border-color: #C0C0C0;
  left: -14%;
  border-right-style:solid;
  position: relative;
}
#pannel #options{
  height : 15%;
  width : 100%;
}


#pannel button{
  /* position: absolute; */
  width : 33%;
  font-size: 10px;
}
#pannel #left{
  height: 85%;
  width : 100%;
}
#pannel #single_agent{
  height : 50%;
  background-color: #778899;
  border-radius : 5px;
}

#pannel #single_agent p{
  margin : 0px;
  font-size : 11px;


}
#pannel #sort_display_agents{
  height : 50%
}
#pannel #left #sorting{
  height : 30%;
}

#pannel #agent_list{
  overflow-y: scroll;
  overflow-x: hidden;
  height : 70%;
}

#pannel #agent_list p{
  margin : 0px;
  background-color: #00ff00;
  border-width: thin;
  border-style:solid;
}

/***********************************************/
#main #buttons{
  width : 100%;
  height : 5%;
}


/************************************VIZ PART ********************/
/*for the axis*/
.axis path
.axis line {
  fill : none;
  stroke : "white";
  shape-rendering : crispEdges;
}

.axis text {
  font-family : sans-sherif;
  font-size:11px;
  color: #fff;
}

#main{
  width: 99%;
  height : 100%;
  color : white;
  position: absolute;
  left: 1%;
}


/*****************FOR THE LINE PLOT *****************/
#scatter{
  width : 100%;
  height : 45%;
  margin: 8px;

  position : relative;
  background-color: #333333;
  /* stroke : white; */
}
/* Here are the colors for the line plots. */
path.fld{
  stroke : #A92F41;
}
path.rt{
  stroke : #CCCCFF;
}
path.stress{
  stroke : #848375
}
path.aot{
  stroke : #91C7A9
}
/**********************************/
/*******************BRUSH PART ***********************/
#brush{
  position : relative;
  width : 98%;
  height: 8%;
  background-color : #000000;
  display : inline-block;
  bottom : 0px;
  margin : 1%;
  /* left: 0px; */
  z-index: 1;
  font-size: 10px;
  /* stroke : white; */

}
/*********************************/


/*** for the current snapshot. */

#currentsituation{
    width: 98%;
    height : 32%;

    font-family: mono;
    font-size: 12px;
    color : white;
    margin : 1%;
    background-color: #333333;
}
#currentsituation text{
  color : white;
}
rect:hover{
  fill : #DAA520	;
}

/*******************************************/
/* For a basic tooltip */
#tooltip{
  position : absolute;
  width : auto;
  height : auto;
  padding  : 10px;
  background-color: white;
  border-radius : 5px;
  color : black;


}

#tooltip.hidden{
  display : none;
}

#tooltip p {
  font-family : mono;
  font-size : 10px;
  line-height : 20px;
}
/***************/



/*This is for the menu for customizing agent values */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#menu {
  visibility: hidden;
  position : absolute;
  display : inline-block;
  background-color: #333333;
  width : 80%;
  height : 80%;
  z-index : 3;
  /* border */
  border : 2px  solid #000;
  border-radius : 25px;


}
#menu #container {
  width : auto;
  height: auto;
  color : inherit;
}

#menu p,h3{
    font-family : mono;
    font-size : 11px;
    line-height : 20px;
    color: white;
}

#menu #closemenu{
  top : 0;
  right : 0 ;
  position : absolute;
}

#menu .box{
  border : 1px solid black;
  background-color: #999999;
  color: black;
  width : auto;

}



#menu #container div{
    width : 50%;
    height: 25%;
    float : left;
    color: white;
    font-size: 11px;
}
#menu input {
  width : 20%;
  height :25%;
  color : black;
}
#menu text{
  color : white;
}
#menu #tasks_spec p{
  color : white
}

#menu #save_values,#getcurrent_val{
  right : 0px;
  position : absolute;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.info_short{
	 text-align : center;
}

.inner {
	border-style: dashed;
	border-color: #40e0d0;
}

.drag {
	text-align : center;
}



/********************************/
