/* custom scrollbars */

@font-face{
    font-family: mono;
    src: url(font/SourceCodePro-Medium.otf);
}


body{
  height : 100%;
  display : flex;
  /* justify-content: center;
  align-items: center; */
  padding : 0;
  margin : 0
  font-family : mono;
  hyphens: auto;
}

button{
    font-family: mono;
}

/* #p5Sketch{
    position: fixed;
    width: 67%;
} */


/********************************OMAR LINE PLOT *****************/

.aot {
	fill: rgb(79, 89, 250);
}

.brute_force {
	fill: rgb(255, 80, 68);
}

.fld {
	fill: rgb(0,128,0);
}

.rt {
	fill: rgb(255,255,0);

}

.stress{
	fill: rgb(255,105,180);
}

.traded{
	fill: rgb(165,42,42);
}




/************************************VIZ PART ********************/
/*for the axis*/
.axis path
.axis line {
  fill : none;
  stroke : black;
  shape-rendering : crispEdges;
}

.axis text {
  font-family : sans-sherif;
  font-size:11px;
}


/*** for the current snapshot. */
#currentsituation{
    width: 20%;
    height : 1600px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-family: mono;
    font-size: 12px;
}

#scatter{
  width : 60%;
  height : 1600px;
  

}

rect:hover{
  fill : yellow;
}

#tooltip{
  position : absolute;
  width : 100px;
  height : auto;
  padding  : 10px;
  background-color: white;
  border-radius : 5px;

}

#tooltip.hidden{
  display : none;
}

#tooltip p {
  font-family : mono;
  font-size : 11px;
  line-height : 20px;
}
