/* custom scrollbars */

@font-face{
    font-family: mono;
    src: url(font/SourceCodePro-Medium.otf);
}


body{
  height : 100%;
  display : flex;
  /* justify-content: center;
  align-items: center; */
  padding : 0;
  margin : 0
  font-family : mono;
  hyphens: auto;
}

button{
    font-family: mono;
}



/********************************OMAR LINE PLOT *****************/



/************************************VIZ PART ********************/
/*for the axis*/
.axis path
.axis line {
  fill : none;
  stroke : black;
  shape-rendering : crispEdges;
}

.axis text {
  font-family : sans-sherif;
  font-size:11px;
}


/*** for the current snapshot. */
#currentsituation{
    width: 25%;
    height : 1600px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-family: mono;
    font-size: 12px;
}

#scatter{
  width : 65%;
  height : 1600px;
}

rect:hover{
  fill : yellow;
}

/* For a basic tooltip */
#tooltip{
  position : absolute;
  width : 100px;
  height : auto;
  padding  : 10px;
  background-color: white;
  border-radius : 5px;

}

#tooltip.hidden{
  display : none;
}

#tooltip p {
  font-family : mono;
  font-size : 11px;
  line-height : 20px;
}


/*This is for the menu for customizing agent values */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#menu {
  visibility: hidden;
  position : absolute;
  display : inline-block;
  background-color: #808080;
  width : 100%;
  height : 100%

  /* border */
  border : 2px  solid #000;
  border-radius : 25px;

}
#menu #container {
  width : auto;
  height: 80%;
}

#menu text {
    font-family : mono;
    font-size : 11px;
    line-height : 20px;
}

#menu #closemenu{
  top : 0;
  right : 0 ;
  position : absolute;
}

#menu .box{
  border : 1px solid black;
  background-color: #fff;
}

#menu #container div{
    width : 50%;
    height: 50%;
    float : left;
}
